<app-form></app-form>
<div *ngIf="(_families | json) != '{}'" class="container w-75 mb-2">
  <button (click)="highlightAll()" class="btn btn-primary">
    Highlight all Families
  </button>
</div>
<div *ngFor="let family of _families | keyvalue">
  <app-family [family]="family.value">
    <ng-container
      *appFamilyHeaderTemplate="
        let lastName;
        let membersCount = membersCount;
        let valueSum = valueSum
      "
    >
      <h2>{{ lastName }}: {{ membersCount }} ({{ valueSum }})</h2>
    </ng-container>
  </app-family>
</div>
