<div class="shadow p-3 mb-5 bg-light rounded container w-75">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <h2>{{ family?.lastName }}</h2>
      <button (click)="highlightAll()" class="btn btn-secondary">
        Highlight all
      </button>
    </div>

    <button (click)="_deleteFamily()" class="btn-close"></button>
  </div>

  <div class="members">
    <ng-container
      *ngFor="let member of family?.familyMembers; let i = index"
      [ngSwitch]="member.constructor.name"
    >
      <app-father #child [member]="member" *ngSwitchCase="'Father'"
        ><button
          [disabled]="i === 0"
          class="btn btn-light"
          (click)="_handleHighlightChange(i - 1)"
        >
          ←
        </button>
        <button class="btn btn-light" (click)="_handleHighlightChange(i)">
          ·
        </button>
        <button
          [disabled]="i -1 === family?.familyMembers?.length"
          class="btn btn-light"
          (click)="_handleHighlightChange(i + 1)"
        >
          →
        </button></app-father
      >
      <app-mother #child [member]="member" *ngSwitchCase="'Mother'">
        <button
          [disabled]="i === 0"
          class="btn btn-light"
          (click)="_handleHighlightChange(i - 1)"
        >
          ←
        </button>
        <button class="btn btn-light" (click)="_handleHighlightChange(i)">
          ·
        </button>
        <button
          [disabled]="i -1 === family?.familyMembers?.length"
          class="btn btn-light"
          (click)="_handleHighlightChange(i + 1)"
        >
          →
        </button></app-mother
      >
      <app-child #child [member]="member" *ngSwitchCase="'Child'">
        <button
          [disabled]="i === 0"
          class="btn btn-light"
          (click)="_handleHighlightChange(i - 1)"
        >
          ←
        </button>
        <button class="btn btn-light" (click)="_handleHighlightChange(i)">
          ·
        </button>
        <button
          [disabled]="i + 1 === family?.familyMembers?.length"
          class="btn btn-light"
          (click)="_handleHighlightChange(i + 1)"
        >
          →
        </button></app-child
      >
    </ng-container>
  </div>
</div>
